
<div class="container" style="margin-top:10px;">
  
  
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <!-- <li class="active"><a href="#hometab" role="tab" data-toggle="tab">Home</a></li>
      <li><a href="#javatab" role="tab" data-toggle="tab">Java</a></li>
      <li><a href="#csharptab" role="tab" data-toggle="tab">C#</a></li>
      <li><a href="#mysqltab" role="tab" data-toggle="tab">MySQL</a></li>
     -->
    
  
      <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">YEAR <b class="caret" ></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#2020-2021-tab" role="tab" data-toggle="tab">2020-2021</a></li>
                    <li><a href="#2021-2022-tab" role="tab" data-toggle="tab">2021-2022</a></li>
                  
                </ul>
      </li>  
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">MONTH <b class="caret" ></b></a>
        <ul class="dropdown-menu">
            <li><a href="#apriltab" role="tab" data-toggle="tab">APRIL</a></li>
            <li><a href="#maytab" role="tab" data-toggle="tab">MAY</a></li>
            <li><a href="#junetab" role="tab" data-toggle="tab">JUNE</a></li>
            <li><a href="#julytab" role="tab" data-toggle="tab">JULY</a></li>
            
            <li><a href="#augusttab" role="tab" data-toggle="tab">AUGUST</a></li>
            <li><a href="#septembertab" role="tab" data-toggle="tab">SEPTEMBER</a></li>
            <li><a href="#octobertab" role="tab" data-toggle="tab">OCTOBER</a></li>
            <li><a href="#novembertab" role="tab" data-toggle="tab">NOVEMBER</a></li>
            <li><a href="#decembertab" role="tab" data-toggle="tab">DECEMBER</a></li>
            <li><a href="#januarytab" role="tab" data-toggle="tab">JANUARY</a></li>
            <li><a href="#februarytab" role="tab" data-toggle="tab">FEBRUARY</a></li>
            <li><a href="#marchtab" role="tab" data-toggle="tab">MARCH</a></li>

            

        </ul>
    </li>  
      
    </ul>
  
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane " id="2020-2021-tab">2020-2021
      <app-yearpayslip2020></app-yearpayslip2020>
      </div>
      
      <div class="tab-pane" id="2021-2022-tab">2021-2022
        <app-yearpayslip2021></app-yearpayslip2021>
      </div>
  
      <div class="tab-pane" id="apriltab">APRIL
        
      <app-april1></app-april1>
        </div>
        <div class="tab-pane" id="maytab">MAY
        
            <app-may1></app-may1>
     
           </div>
           <div class="tab-pane" id="junetab">JUNE
        
            <app-june1></app-june1>
     
           </div>
           <div class="tab-pane" id="julytab">JULY
        
            <app-july1></app-july1>
     
           </div>
           <div class="tab-pane" id="augusttab">AUGUST
        
            <app-august1></app-august1>
     
           </div>
           
           <div class="tab-pane" id="septembertab">SEPTEMBER
        <app-september1></app-september1>
     
           </div>
           <div class="tab-pane" id="octobertab">OCTOBER
            <app-october1></app-october1>
     
           </div>
           <div class="tab-pane" id="novembertab">NOVEMBER
            <app-november1></app-november1>
     
           </div>
           <div class="tab-pane" id="decembertab">DECEMBER
            <app-december1></app-december1>
     
           </div>
           <div class="tab-pane" id="januarytab">JANUARY
            <app-january1></app-january1>
     
           </div>

           <div class="tab-pane" id="februarytab">FEBRUARY
            <app-february1></app-february1>
     
           </div>
           <div class="tab-pane" id="marchtab">MARCH
            <app-march1></app-march1>
     
           </div>
     
        
  
  
      
      
    </div>
    </div>
