
<div class="container">
  
  
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <!-- <li class="active"><a href="#hometab" role="tab" data-toggle="tab">Home</a></li>
      <li><a href="#javatab" role="tab" data-toggle="tab">Java</a></li>
      <li><a href="#csharptab" role="tab" data-toggle="tab">C#</a></li>-->
      
     
    
  
      <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">YEAR <b class="caret" ></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#2020-2021-tab" role="tab" data-toggle="tab">2020-2021</a></li>
                    <li><a href="#2021-2022-tab" role="tab" data-toggle="tab">2021-2022</a></li>
                  
                </ul>
      </li>  

      <li><a href="#appointmenttab" role="tab" data-toggle="tab">APPOINTMENT</a></li>
   
      <li><a href="#apprisaltab" role="tab" data-toggle="tab">APPRISAL</a></li>
   
      
    </ul>
  
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane " id="2020-2021-tab">2020-2021
     <app-doumentyear2020></app-doumentyear2020>
      </div>
      
      <div class="tab-pane" id="2021-2022-tab">2021-2022
        <app-doumentyear2021></app-doumentyear2021>
      </div>
  
      <div class="tab-pane" id="appointmenttab">
        <app-appointment></app-appointment>
             
      </div>
  
      
      <div class="tab-pane" id="apprisaltab">
        <app-apprisal></app-apprisal>
             
      </div>
  
        
          
           
          
         
           
  
  
      
      
    </div>
    </div>
