.nav-tabs
{
 border-color:#ccad00;
  width:100%;
}

 .nav-tabs > li  { 
    border: 1px solid #ccad00;
    background-color:#08849C; 
     color:white;
    padding-right:20px;
    padding-left:20px;
    margin-right:20px;
  
  
 
    }
    .nav-tabs > li:hover{
        border: 1px solid #ccad00;
     color:red;
    }
   

   .nav-tabs> li a{
       font-size: 15px;
      background-color:#08849C;
     color:black;
   }
   
 .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
 
 color:white;
 
 border-bottom-color: transparent;
   }

 .nav-tabs > li > a:hover{
 
  
    color:#000;


} 

 