



  <table class="table table-bordered">  
    <tr class="yh" >   
    <th>S.NO</th> <th>Month</th>  
    
    <th> NO of days</th><th>Approved Paid LeavesL</th><th>Approved Casual Leaves</th><th>No of Leaves in a Month</th><th>Earned PL</th><th>PL Carry forward</th>
    <th>Total PL Available</th><th>Earned Comp off</th><th>Comp off Carry Forward</th> <th>Total Comp off Available</th><th>Number of Present days</th><th>Loss of Pay</th><th>No of Paid Days</th><th>Remarks</th> 
    
  
  
  
  
  
  
  
  
    </tr>  
    <tr>  
      <td>01</td>
     
    <td>APRIL</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
    <tr>  
      <td>02</td>
     
    <td>MAY</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
    <tr>  
      <td>03</td>
     
    <td>JUNE</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
  
    <tr>  
      <td>04</td>
     
    <td>JULY</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
    
    <tr>  
      <td>05</td>
     
    <td>AUGUST</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
    <tr>  
      <td>06</td>
     
    <td>SEPTMEMBER</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr> 
    
    <tr>  
      <td>07</td>
     
    <td>OCTOBER</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr> 
    <tr>  
      <td>08</td>
     
    <td>NOVEMBER</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>   
    <tr>  
      <td>09</td>
     
    <td>DECEMBER</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
    <tr>  
      <td>10</td>
     
    <td>JANUARY</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
    <tr>  
      <td>11</td>
     
    <td>FEBRUARY</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
    <tr>  
      <td>12</td>
     
    <td>MARCH</td>  
    <td></td> 
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    <td></td>  
    
    </tr>  
    </table>  
    
    
    
    
    
    
  