 

            <div>
                 
                <table class="TFtable">  
  
                    
                  <tr >  
                  <th><input type="checkbox"></th> 
                  <th>CODE</th><th>WORKING DAYS </th>  <th>NO OF WEEK OFFS</th>  <th>WEEKOFF DAYS</th>  
<!--                  
                    <th><button mat-raised-button   style="background-color: #3AB1CF; color: white; margin-right:3px;" (click)="addrelationship()">ADD</button>
                    </th>
                    -->
                  </tr>  
                  
                  <tr  *ngFor="let relationship of relationship; let i = index;">  
                 
                 <input type="checkbox" style="margin-top:10px;">
  
                  <td><input type="text"  [(ngModel)]="relationship.code"  name="code"></td>  
                  <td><input type="text"   [(ngModel)]="relationship.wdays"  name="wdays"></td>  
                  
                  <td><input type="text" [(ngModel)]="relationship.week"  name="week"></td>
                  <td><input type="text"  [(ngModel)]="relationship.days" name="days"></td>  
                 <!-- <td>
                  &nbsp;<button type="button" class="btn btn-info"  (click)="edit()">Edit</button> &nbsp;
                    <button type="button" class="btn btn-info"  (click)="save()">Save</button> &nbsp; 
                    <button type="button" class="btn btn-danger"  (click)="remove(i)">Delete</button>
                 
                 </td> -->
                  </tr>  
                  
                  </table> 
                 
              </div>
  
          

<!-- <div class="container">
  <button mat-raised-button   style="background-color: #3AB1CF; color: white; margin-right:3px;" (click)="addrelationship()">ADD</button>
  <button type="button" class="btn btn-info" (click)="save()" style="margin-left: 790px;margin-top: 10px;">Save</button>
</div> -->

<table>
  <button  class="btn btn-outline-info" (click)="selectNext1(matgroup)" style="margin-top:10px ">PREVIOUS</button>
  <button  class="btn btn-outline-info" (click)="selectNext(matgroup)" style="margin-top: 10px; margin-left: 10px; ">NEXT</button>
  <button   class="btn btn-outline-info"  style=" margin-top:10px; margin-left: 10px;" (click)="addrelationship()">ADD</button>
  <button  class="btn btn-outline-danger"  (click)="remove(i)" style="margin-top: 10px;margin-left: 10px;">Delete</button>
  <button class="btn btn-outline-info" (click)="save()" style="margin-top: 10px;margin-left: 10px;">Save</button>
</table>