<table class="table table-bordered" id="contentToConvert">  
    <tr  >   
       <td colspan="4">  
          <h5>JUNE Month Payslip </h5>  
          </td> 
    </tr>  
    <tr >  
 
    
    <td style="width:20%;">Employee Name</td>  
    <td style="width:20%;"></td> 
    <td style="width:20%;">Total Days</td>  
    <td style="width:20%;"></td>  
 
    </tr>  

    <tr >  
 
    
        <td style="width:20%;">Employee Code</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;">Paid Days</td>  
        <td style="width:20%;"></td>  
     
        </tr>  
   
 
        <tr > 
        <td style="width:20%;">Designation</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;">Loss Of Day</td>  
        <td style="width:20%;"></td>  
     
        </tr>  
        <tr > 
            <td style="width:20%;">Department</td>  
            <td style="width:20%;"></td> 
            <td style="width:20%;">Pan No</td>  
            <td style="width:20%;"></td>  
         
            </tr>  
            <tr > 
                <td style="width:20%;">Bank Name</td>  
                <td style="width:20%;"></td> 
                <td style="width:20%;">Location</td>  
                <td style="width:20%;"></td>  
             
                </tr> 
                <tr > 
                    <td style="width:20%;">Bank Account No</td>  
                    <td style="width:20%;"></td> 
                    <td style="width:20%;">Grade</td>  
                    <td style="width:20%;"></td>  
                 
                    </tr> 
                    <tr > 
                        <td style="width:20%;">Aadhar No</td>  
                        <td style="width:20%;"></td> 
                        <td style="width:20%;">Joining Date</td>  
                        <td style="width:20%;"></td>  
                     
                        </tr> 
 
    <tr >
 
       <td style="text-align:center" colspan="2">EARNINGS</td> 
       <td style="text-align:center" colspan="2">DEDUCTION</td> 
 
    </tr>
       
    <tr > 
        <td style="width:20%;">Basic</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;">Professional Tax</td>  
        <td style="width:20%;"></td>  
     
        </tr> 
        <tr > 
            <td style="width:20%;">House Rent Allowance </td>  
            <td style="width:20%;"></td> 
            <td style="width:20%;">PF</td>  
            <td style="width:20%;"></td>  
         
            </tr> 
     <tr > 
                    <td style="width:20%;">Conveyance</td>  
                    <td style="width:20%;"></td> 
                    <td style="width:20%;">Group Insurance</td>  
                    <td style="width:20%;"></td>  
                
     </tr> 
    
     <tr > 
        <td style="width:20%;">Special Allowance</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;">PLP</td>  
        <td style="width:20%;"></td>  
    
    </tr> 

    <tr > 
        <td style="width:20%;">Medical Allowance</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;"></td>  
        <td style="width:20%;"></td>  
    
    </tr> 

    <tr > 
        <td style="width:20%;">Telephone</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;"></td>  
        <td style="width:20%;"></td>  
    
    </tr> 
    <tr > 
        <td style="width:20%;">Leave Travel Allowance</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;"></td>  
        <td style="width:20%;"></td>  
    
    </tr> 
    <tr > 
        <td style="width:20%;">Other Allowances</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;"></td>  
        <td style="width:20%;"></td>  
    
    </tr> 
    <tr > 
        <td style="width:20%;">Onsite Allowances</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;"></td>  
        <td style="width:20%;"></td>  
    
    </tr> 
    <tr > 
        <td style="width:20%;">Total Earnings</td>  
        <td style="width:20%;"></td> 
        <td style="width:20%;">Total Deductions</td>  
        <td style="width:20%;"></td>  
    
    </tr> 
    <tr >
 
       <td  colspan="4">Net Pay</td> 
      
 
    </tr>

    <tr >
 
        <td  colspan="4">Net Pay in Words</td> 
       
  
     </tr>
 
      
    </table>  
 



