span{
  color:red;
}
.container{
    margin-top:30px;
}
img{
  border: 1px solid black;
  width: 150px;
}


// .container-fluid{
//     display:flex;
//     flex-direction: column;
//     width: 30%;

    
// }
// .container-fluid > * {
 
// padding-top:10px;
// font-family: 0 ;
   
//   }
// img{
//     width: 130px;
//     height: 130px;
// }
  